<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Endcord Installer</string>
  <key>CFBundleDisplayName</key>
  <string>Endcord Installer</string>
  <key>CFBundleIdentifier</key>
  <string>com.endcord.installer</string>
  <key>CFBundleVersion</key>
  <string>20260924.4</string>
  <key>CFBundleShortVersionString</key>
  <string>20260924.4</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleExecutable</key>
  <string>EndcordInstaller</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>LSMinimumSystemVersion</key>
  <string>11.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSRequiresAquaSystemAppearance</key>
  <false/>
</dict>
</plist>
